body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;

  margin: 0;
  padding: 0;

  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.container {
  width: 30rem;

  padding: 1rem;
  box-sizing: border-box;

  background-color: #18a058;
  border-radius: 1rem;
  color: white;
}
.container .progress {
  height: 0.1rem;
  width: 100%;
  background-color: white;
  margin-bottom: 2rem;
  transform-origin: 0;
  animation: progress 2s infinite linear;
}
@keyframes progress {
  0% {
    transform: scale(0, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
.container .user-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .user-container .portrait {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.container .user-container .user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 1rem 0;
}
.container .user-container .user-info .name {
  margin: 0 0 0.5rem 0;
}

@media screen and(max-width:30rem) {
  .container {
    width: 100%;
  }
}
